/* style의 우선순위 - 겹쳐진 스타일 중 어떤걸 먼저 적용할지 결정하는 규칙
1. 사용자 스타일 - window 다크모드 설정 등
2. 제작자 스타일 - 개발자가 작성한 스타일
3. 브라우저가 부여한 스타일  */

/* 제작자스타일 우선순위 (동일한 등급일 경우 마지막에 선언한 스타일이 입혀짐)
1. !important
2. 인라인 스타일
3. id 스타일(보통 이이상은 잘 안 쓰는게 좋음)
4. class 스타일
5. 태그명으로 부여하는 스타일
6. 전체 스타일(*) 
7. 상속된 스타일 */

#id-style {
  color: blueviolet;
}

.class-style{
  color: green;
}

h1 {
  color: red;
}

h1 {
  color: black;
}

* {
  color: skyblue ;
}

